= render "application/header"
= render "document_changes", :id => @document.id
%h1= @document.title
%p#document_body= @document.body
= render "edit_document_button", :locked => @locked, :editor => @editor